@model BotHunter.Models.Dialog

@{
    ViewBag.Title = "Диалог";
    
}

<h2 class="padding-left-3">Постройте диалог</h2>

@Html.Action("Display", "Topic", new { id = Model.TopicId })


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TopicId)

        <div class="form-group">
            @Html.LabelFor(model => model.Topic, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="topics" class="topics-container"></div>
                <div class="row">
                    <a id="addRootTopic" class="button warning">Добавить</a>
                    <a id="deselectTopic" class="button secondary">Снять выделение</a>
                </div>
            </div>
        </div>

        @Html.ValidationSummary(false)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "form-error is-visible" })
            </div>
        </div>

        <div id="blocklyDiv" style="height: 600px; width: 800px;"></div>


        <div class="form-group">
            @Html.LabelFor(model => model.Aiml, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Aiml, new { @class = "codeContainer", id = "aiml-content" })
                @Html.HiddenFor(model => model.BlocksXml, new { id = "blocklyWorkspace" })
                @Html.ValidationMessageFor(model => model.Aiml, "", new { @class = "text-danger" })
                <input id="aiml-edit" class="codeContainer" type="text" value=@Model.Aiml />
            </div>
        </div>

        <div class="form-group margin-top-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="button success" />
                @Html.ActionLink("Назад", "DialogsList", null, new { @class = "button" })
            </div>
        </div>
    </div>
}

<div>

</div>
@section TopScripts {
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/blockly_compressed.js"></script>
    <script type="text/javascript" src="~/Scripts/blockly_javascript.js"></script>
    <script type="text/javascript" src="~/Scripts/blockly_blocks.js"></script>
    <script type="text/javascript" src="~/Scripts/blockly_workspace.js"></script>
    <script type="text/javascript" src="/Scripts/ru.js"></script>
    <script type="text/javascript" src="~/Scripts/ace.js"></script>
    <script type="text/javascript" src="~/Scripts/jstree.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.populate.min.js"></script>
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/DialogView/blocklysetup.js"></script>
    <script type="text/javascript" src="~/Scripts/DialogView/topic.js"></script>

}
@section Styles {
    <link rel="stylesheet" href="/Content/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/jstree.css" />
}
